project/training4-american-ws/src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="92d9c978-704b-4b51-aad6-a230fe4d0283" queryTimeout="0" input-parameters="#[{'ID' : attributes.uriParams.ID}]" sql="SELECT * &#10;FROM american&#10;WHERE ID = :ID" transactionalAction="JOIN_IF_POSSIBLE" config-ref="Database_Config" targetValue="#[payload]" queryTimeoutUnit="SECONDS">
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="e131583d-75b1-43dc-a374-c86169c3b6bd" >
		<db:my-sql-connection host="mudb.learn.mulesoft.com" port="3306" user="mule" password="mule" database="training" />
	</db:config>
	<flow name="getFlights" doc:id="1e33d2bb-5c80-410a-b092-ba139e361796" >
		<db:select doc:name="Select" doc:id="df5a6e8a-d3e2-4cbc-907b-3dc31fc98f2e" config-ref="Database_Config">
			<db:sql ><![CDATA[SELECT * 
FROM american]]></db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="792f9f48-1898-4e72-8ce3-39b64d2a6065" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	ID: payload01.ID,
	code: (payload01.code1 default "") ++ (payload01.code2 default ""),
	price: payload01.price default 0,
	departureDate: payload01.takeOffDate as String default "",
	origin: payload01.fromAirport default "",
	destination: payload01.toAirport default "",
	emptySeats: payload01.seatsAvailable default 0,
	plane: {
		"type": payload01.planeType default "",
		totalSeats: payload01.totalSeats default 0
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="getFlightsByID" doc:id="299ac223-060f-4845-9dba-6a7717392986" >
		<db:select doc:name="Copy_of_Select" doc:id="92d9c978-704b-4b51-aad6-a230fe4d0283" config-ref="Database_Config" >
			<db:sql ><![CDATA[SELECT * 
FROM american
WHERE ID = :ID]]></db:sql>
			<db:input-parameters ><![CDATA[#[{'ID' : attributes.uriParams.ID}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Copy_of_Transform Message" doc:id="283d126d-4b85-430b-b2af-f8e6436e7f56" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	ID: payload01.ID,
	code: (payload01.code1 default "") ++ (payload01.code2 default ""),
	price: payload01.price default 0,
	departureDate: payload01.takeOffDate as String default "",
	origin: payload01.fromAirport default "",
	destination: payload01.toAirport default "",
	emptySeats: payload01.seatsAvailable default 0,
	plane: {
		"type": payload01.planeType default "",
		totalSeats: payload01.totalSeats default 0
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="Copy_of_training4-american-wsFlow" doc:id="a3a64c69-99fb-4120-8ca8-50fbf76d901c" >
		<set-payload value='{"message": "Flight added (but not really)"}' doc:name="Set Payload" doc:id="cd8e1efe-ab7a-4ca0-aa77-ce40a36036b7" />
	</flow>
</mule>
