project/apdev-examples/src/main/mule/apdev-example.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd">
	
	<flow name="helloFlow" doc:id="ffed5cf9-4751-41e6-8963-335c2157e188" >
		<http:listener doc:name="GET /hello" doc:id="3e5f4e31-4a0a-48aa-881c-c88ce03d4a94" config-ref="HTTP_Listener_config" path="/hello" allowedMethods="GET">
			<http:response reasonPhrase="Success" >
				<http:headers ><![CDATA[#[output application/java
---
{
	"name" : vars.firstName
}]]]></http:headers>
			</http:response>
		</http:listener>
		<flow-ref doc:name="subflow" doc:id="dd09e9b5-d39b-4cc4-a271-8ce5a14260d2" name="subflow"/>
		<vm:publish queueName="goodbye" doc:name="VM goodbye" doc:id="6015101f-d02e-4111-af5a-dc61b7c5bcec" config-ref="VM_Config"/>
		<logger level="INFO" doc:name="payload" doc:id="b973fa4c-56a4-465f-bbe5-525e8fff0b89" message="#['\nMessage: ' ++ payload]"/>
	</flow>
	<flow name="privateFlow" doc:id="5c3c1ba1-f049-4961-8ce9-b92fb19e7c6d">
		<http:request method="GET" doc:name="GET /goodbye" doc:id="ef1f9065-b67e-43ca-bd47-2cc83e75b3e4" config-ref="HTTP_Request_configuration" path="/goodbye" responseTimeout="300000">
			<non-repeatable-stream />
			<http:query-params><![CDATA[#[output application/java
---
{
	"fullName" : attributes.queryParams.fname
}]]]></http:query-params>
		</http:request>
	</flow>
	<sub-flow name="subflow" doc:id="57087ff5-de76-4f77-ac3f-db5c86d1869e" >
		<set-variable value="#[message.attributes.queryParams.fname]" doc:name="firstName" doc:id="a6f590f7-e43b-4bd3-af14-054a15e24c0a" variableName="firstName" />
		<set-payload value="Hello" doc:name="Hello" doc:id="93fb8570-a77d-4812-a634-05fd43fc8fc4" />
	</sub-flow>
	<flow name="goodbyeFlow" doc:id="06191a55-df3c-4f38-8471-5d1447cc8e09" >
		<vm:listener doc:name="VM goodbye" doc:id="f9cbf5b4-e4fc-4ac8-a2cd-e47be9c6b2d1" config-ref="VM_Config" queueName="goodbye"/>
		<set-payload value="#[upper('Goodbye') ++ ' ' ++ (attributes.queryParams.fullName default 'Maxine')]" doc:name="Goodbye" doc:id="bad58678-4291-4cfa-a1d1-7b881dbaa85c" />
		<logger level="INFO" doc:name="fullName" doc:id="662223da-d8ab-4fe3-8e62-be34fe3cc073" message="#[attributes.queryParams.fullName]"/>
	</flow>
</mule>
